<h1>Student: <%= @student.to_s %> </h1>
<%= form_for(@student) do |f| %>
<p>New First Name</p>
<%= f.text_field :first_name %>
<p>New Last Name</p>
<%= f.text_field :last_name %>
<%= f.submit %>
<% end %>
